.panel {
    display: flex;
    width: 900px;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #444;
}

.logo-container p {
    font-size: x-large;
    margin-bottom: 50px;
}

img[alt=logo] {
    height: 200px;
}