.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 700px;
    padding: 20px;

    background: white;
    border-radius: 3px;
}

.textarea-top {
    background-color: #f0f0f0;
    border-radius: 4px 4px 0px 0px;
}

input#devocional:checked ~ img, 
input#devocionalc:checked ~ img{
    background-color: pink;
}
input#exegese:checked ~ img,
input#exegesec:checked ~ img{
    background-color: yellow;
}
input#inspirado:checked ~ img,
input#inspiradoc:checked ~ img{
    background-color: cyan;
}
input#pessoal:checked ~ img,
input#pessoalc:checked ~ img{
    background-color: chartreuse;
}