.side {
	display: flex;
	position: fixed;
	align-items: center;
	flex-direction: column;

	background-color: white;
	border-radius: 0 8px 8px;
	margin: 0 20px;
	padding: 20px;

	width: 350px;
	max-height: 77%;
	box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}
@media (max-width: 1000px) {
	.side {
		position: relative;
		right: 1px;
		min-width: 300px;
		margin: 0 10px;
		height: auto;
		max-height: 25%;
	}
}
@media (max-width: 800px) {
	.side {
		position: fixed;
		width: inherit;
		max-height: 70%;
	}
}

.user-comment {
	display: flex;
	flex-direction: column;
}

.user-comment p {
	text-align: justify;
	white-space: break-spaces;
	font-size: 14px;
	line-height: 18px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
}

span.comment-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

span.comment-buttons button {
	margin-left: 10px;
	border: none;
	cursor: pointer;
	background: none;
}

span.comment-buttons button:active {
	transform: scale(1.5);
}

span.comment-buttons img {
	width: 20px;
}

h3 sub {
	display: flex;
	flex: 1;
	align-items: flex-end;
	justify-content: flex-end;
}
