.side {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;

  background-color: white;
  border-radius: 0 8px 8px;
  margin: 0 20px;
  padding: 20px;

  width: 350px;
  height: 77%;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

.user-comment {
  display: flex;
  flex-direction: column;
}

span.comment-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

span.comment-buttons button {
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background: none;
}

span.comment-buttons button:active {
  transform: scale(1.5);
}

span.comment-buttons img {
  width: 20px;
}

h3 sub {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
