.side {
    position: fixed;
    display: flex;

    background-color: white;
    border-radius: 0 8px 8px;
    padding: 20px;
    margin: 0 20px;
    flex-direction: column;
    align-items: center;

    width: 350px;
    height: 77%;
}

.user-comment {
    display: flex;
    flex-direction: column;
}

.user-comment span {
    display: flex;
    justify-content: flex-end;
}

.user-comment span button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background: none;
}

.user-comment span button:active {
    transform: scale(1.5);
}

.user-comment span img {
    width: 20px;
}