/* principal */
div.main {
    max-width: 750px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
}

button.entry {
    width: 45%;
    height: 40px;
    background: #20e0c0;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 8px;
    font-size: 16px;
    cursor: pointer;
}

button.entry:hover {
    background: #1ad6b7;
}

/* generals */
.visible {
    animation: fade-in 1s ease-out;
    opacity: 1;
}

.invisible {
    animation: fade-out 1s ease-out;
    opacity: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}

/* box center */
.centro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity(0.5));
}

.new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10% auto;
    max-width: 700px;
    padding: 20px;

    background: white;
    border-radius: 3px;
}

/* verse commentaries */
aside {
    position: relative;
    width: 500px;
    margin: 0 20px;
}

.side {
    position: fixed;

    background-color: white;
    border-radius: 0 8px 8px;
    padding: 20px;
    margin: 0 20px;

    width: 350px;
    height: 77%;
}

/* title commentaries */
.title-comments {
    background-color: aliceblue;
    padding: 10px 10px;
    opacity: 0;
    z-index: -1;
    position: fixed;
}

.title-comments li {
    margin-top: 10px;
    padding-left: 20px;
}

.title-comments li p {
    padding-left: 5px;
}

label[for=toggle] {
    font-size: x-large;
    font-weight: bold;
}

label {
    cursor: pointer;
}

input {
    visibility: hidden;
}

label img:hover {
    background-color: #dadada;   
}

input[type=checkbox]:checked ~ .title-comments {
    opacity: 1;
    z-index: 0;
    position: relative;
}

/* listas */
ul.commentaries {
    height: 90%;
    overflow: auto;
}

ul.commentaries li {
    margin-top: 10px;
}

ul.commentaries li p {
    padding-left: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
}

ul.verse-list li {
    margin-top: 10px;
    line-height: 25px;
    font-size: 18px;
}
ul.verse-list li p {
    cursor: pointer;
}

/* comment header/foot */
.top {
    width: 100%;
}

.top h2 {
    margin-left: 10%;
}

.top button {
    float: right;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.bottom {
    padding: 15px;
    width: 100%;
    height: 130px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: white;
    border-top: outset;
}

.bottom p {
    font-size: medium;
}

/* textarea */

.textarea-top {
    background-color: #f0f0f0;
    border-radius: 4px 4px 0px 0px;
}

label img {
    height: 30px;
    padding: 4px;
    margin-top: 4px;
    border-radius: 4px;
}

input#devocional:checked ~ img{
    background-color: pink;
}
input#exegese:checked ~ img{
    background-color: yellow;
}
input#inspirado:checked ~ img{
    background-color: cyan;
}
input#pessoal:checked ~ img{
    background-color: chartreuse;
}

/* animations */
@keyframes fade-in {
    0% {
        right: 20%;
        opacity: 0;
    }
    30% {
        right: 0%;
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        right: 10%;
        opacity: 1;
    }
    30% {
        right: 20%;
        opacity: 0.1;
    }
    90% {
        opacity: 0;
    }
}