ul.navbar {
	display: flex;
	width: 100%;
}

ul.navbar li,
ul.navbar a {
	flex: 1 0 10%;
	flex-grow: 1;
	margin: 10px 3px;
	padding: 10px 30px;
	background-color: white;
	text-align: center;
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 0.1px;
	font-weight: bold;
	border-radius: 4px;
}

ul.navbar a {
	text-decoration: none;
	color: black;
}

section.visible {
	background-color: aliceblue;
	width: 100%;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 0.1px;

	transition: opacity 1s;
	margin-bottom: 10px;
	border-radius: 8px;
}
