.title-comments li {
    margin-top: 10px;
}

.title-comments li p {
    padding-left: 5px;
}

.title-comments li h3 {
    display: flex;
    align-items: center;
}

label[for=toggle] {
    font-size: x-large;
    font-weight: bold;
}

label {
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

label img:hover {
    background-color: #dadada;   
}