@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #c0c0c033;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header button {
  border: 0;
  background-color: #ffffff00;
}

header img {
  width: 50px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 30px auto;
}

.content {
  display: flex;
  margin: 20px auto 20px;
}
.text-area {
  margin-top: 8px;
  width: 90%;
}

textarea {
  border: 1px solid #dcdce6;
  font-size: 15px;
  padding: 20px;
  
  max-height: 600px;
  min-height: 100px;
  width: 100%;
  resize: vertical;
}

textarea:focus {
  border-color: #666668;
}

.top {
  width: 90%;
}

.top h2 {
  margin-left: 5%;
}

.top button {
  float: right;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

img.tag {
  height: 30px;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
}

input[type=checkbox] ~ div {
  background-color: aliceblue;
  padding: 10px 10px;
  opacity: 0;
  z-index: -1;
  position: fixed;
}

input[type=checkbox]:checked ~ div {
  opacity: 1;
  z-index: 0;
  position: relative;
}